@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Fredoka, Roboto sans-serif;
    background-color: #F1F8FD;
}

.gold-txt {
    color: rgb(154, 117, 26);
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav h1 {
    margin: 32px 0;
    font-weight: bold;
    text-decoration: underline 2px goldenrod;
    text-underline-offset: 16px;
}

.filter-btns button {
    background-color: #F1F8FD;
    border: 2px solid goldenrod;
    color: rgb(154, 117, 26);
    border-radius: 8px;
    padding: 4px 8px;
    margin: 0 4px;
}

.filter-btns button:hover {
    background-color: goldenrod;
    color: #F1F8FD;
    transition: all 200ms ease;
}

.row {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 0;
}

.item {
    display: flex;
    width: 32%;
}

.item-img {
    max-width: 192px;
    border: 2px solid rgb(154, 117, 26);
    border-radius: 8px;
}

.item-info {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
}

.item-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

hr {
    border: 1px solid lightgrey;
}

.hide {
    display: none;
}